body {
    margin: 10px;
    border: 1px solid gray;
}

header, footer {
    clear: left;
    text-align: center;
    margin:5px;
    border-bottom: 1px solid black;
}

nav {
    float: left;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
}
   
nav ul a {
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    border:1px solid black;
    background: black;
    color: white;

    max-width: 5000px;
    min-width: 290px;
    max-height: 1000px;
    min-height: 25px;
}

li {
    flex-grow: 1;
}

.choice {
	padding:10px;
	border: 2px solid black;
	background: grey;
	color: white;
}

main {
    float: left;
    border-left: 1px solid gray; 
    padding: 1em;
}
